.header {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  border: 1px solid #FF9999;
  color: #FF9999;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.list a:hover,
.list a.active {
  background-color: #FF9999;
  color: white;
}